/* Topo Fitness */

#topo-fitness{
    background-image: url(../img/fitness.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -2.5em;
    height: 350px;
}
#topo-fitness .container .row{
    height: 350px;     
}
.bkg{
    background-color: rgba(0, 0, 0, .3);
}

/* Notícias Principais */
#noticias-principais-fitness{
    height: 400px;
}
#noticias-principais-fitness .img-fluid{
    height: 350px;
    width: 100%;
}
.carousel-caption{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    padding-top: 12px;
    padding-bottom: 4px;
    
}
.texto-visualizados{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 3px solid #66bbcd;
}

/* Artigos e Notícias Internas */
.img-noticia{
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.img-noticia1{
    background-image: url(../img/img-fitness/img-noticia1/imagem1.jpg);
    background-position-y: -7.5em;
}
.img-noticia2{
    background-image: url(../img/img-fitness/img-noticia2/abdominal.jpg);
    background-position-y: -3.5em;
}
.img-noticia3{
    background-image: url(../img/img-fitness/img-noticia3/agachamento.jpg);
    background-position-y: -5.5em;
}
.img-noticia4{
    background-image: url(../img/img-fitness/img-noticia4/cansado.jpg);
    background-position-y: -3.5em;
}
.img-noticia5{
    background-image: url(../img/img-fitness/img-noticia5/natacao.jpg);
    background-position-y: -8.5em;
}
.img-noticia6{
    background-image: url(../img/img-fitness/img-noticia6/exercicio.jpg);
    background-position-y: -3.5em;
}
.img-noticia7{
    background-image: url(../img/img-fitness/img-noticia7/inteligente.jpg);
    background-position-y: -3.5em;
}
.img-noticia8{
    background-image: url(../img/img-fitness/img-noticia8/frio.jpg);
    background-position-y: -9.5em;
}